# Copy to .env and fill values
DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/DATABASE"
NEXTAUTH_SECRET="change-me-to-a-long-random-string"
NEXTAUTH_URL="http://localhost:3000"
OWNER_EMAIL="your@email.com"
NEXT_PUBLIC_FIVEM_CONNECT_URL="fivem://connect/DEINE-SERVER-IP:30120"

# Optional (if using any OAuth providers)
# GITHUB_ID=
# GITHUB_SECRET=
